# API
fastapi 
uvicorn[standard] 
python-multipart 
pydantic 

# Frontend
streamlit 

# LangChain
langchain
langchain-community 
langchain-groq 
langchain-huggingface 
langchain-pinecon 
langchain-text-splitters 

# Vector DB + Embeddings
pinecone 
sentence-transformers 

# Utils
pypdf 
python-dotenv 
requests 
